body {
	background-color: #fff;
}
header .logo svg path {
	fill: #202020;
}
header .button a {
	background-color: #2fffa4;
	color: #303030;
}
header .button a:hover {
	background-color: #303030;
	color: #2fffa4;
}
header .theme a {
	color: #202020;
}
header .theme svg path {
	fill: #202020;
}
main .content {
    background-color: #b2b2b2;
}
main .c-button {
	background-color: #565656;
	color: #2fffa4;
}
main .c-button:hover {
	background-color: #404040;
}
main .c-preview {
	background-color: #404040;
}
main .c-preview h2 {
	color: #fff;
}
main .c-preview p {
	color: #2fffa4;
}
footer .connect {
	background-color: #2fffa4;
}
footer .connect h1 {
	color: #303030;
}
footer .connect h2 {
	color: #303030;
}
footer .connect a.email {
	color: #303030;
}
footer .connect .button a {
	background-color: #303030;
    color: #2fffa4;
}
footer .connect .button a:hover {
	background-color: #202020;
}
footer .fbar p {
	color: #202020;
}
footer .project-link a {
	color: #202020;
}
footer .back-to-top a {
	color: #202020;
}

/*Page 404*/

main .notice-404 {
	background-color: #ff972f;
}
main .notice-404 p {
	color: #fff;
}
main .notice-404 a {
	color: #fff;
}
main .notice-404 h1 {
	color: #fff;
}
footer .fbar-404 {
	color: #202020;
}