@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	background-color: #202020;
	max-width: 2560px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	font-family: Poppins;
	font-weight: 600;
}
.logo img {
	width: 70px;
	height: 70px;
}
.menu {
	display: flex;
	align-items: center;
	gap: 10px;
}
.checkbox-green {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
}
.checkbox-green .checkbox-green-switch {
	display: inline-block;	
	height: 50px;
	width: 265px;
	box-sizing: border-box;
	position: relative;
	border-radius: 10px;
	background: #303030;
	transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.checkbox-green .checkbox-green-switch:before {
	content: attr(data-label-on);
	display: inline-block;
	box-sizing: border-box;		
	width: 130px;	
	position: absolute;
	left: 130px;
	text-align: center;
	color: #fff;
}
.checkbox-green .checkbox-green-switch:after {
	content: attr(data-label-off);
	display: inline-block;
	box-sizing: border-box;
	width: 130px;
	height: px;
	border-radius: 10px;	
	position: absolute;	
	text-align: center;
	background: #2fffa4;
	color: #303030;	
	transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.checkbox-green input[type="checkbox"] {
	position: absolute;
}
.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:before {
	content: attr(data-label-off);
	left: 0px;
}
.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:after {
	content: attr(data-label-on);
	transform: translateX(135px);
	left: -10px;
	width: 140px;
}
.button-connect {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2fffa4;
	color: #303030;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	font-size: 20px;
	font-family: Poppins;
	font-weight: 600;
	scroll-behavior: smooth;
	text-decoration: none;
}
.lang-switcher {
	display: flex;
	align-items: center;
	gap: 5px;
}
.lang-switcher a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	background-color: #333;
	border-radius: 50%;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}
.lang-switcher a.active {
	background-color: #2fffa4;
	color: #333;
}
main {
	margin: 2% 10%;
	/*
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 75vh;
	overflow: auto;
	margin: 0 auto;
	*/
}
/*
.text-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 20px;
	gap: 20px;
}
	.text-info h1 {
	display: flex;
	color: #fff;
	font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
	font-family: Poppins;
	font-weight: 500;
}
.text-info h2 {
	display: flex;
	color: #fff;
	font-size: calc(21px + 16 * ((100vw - 320px) / (1280 - 320)));
	font-family: Poppins;
	font-weight: 300;
}
.text-info h3 {
	display: flex;
	color: #2fffa4;
	font-size: 20px;
	font-family: Poppins;
	font-weight: 300;
}
.text-info h4 {
	display: flex;
	color: #2fffa4;
	font-size: 8vw;
	font-family: Poppins;
}
.text-info span {
	color: #fff;
}
*/
main .content {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 2.5em;
	padding: 1em 2em 2em 2em;
	gap: 20px;
}
main .c-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Source Code Pro;
	font-size: 0.8em;
}
main .c-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #202020;
	color: #2fffa4;
	padding: 10px 20px;
	border-radius: 2em;
	border: none;
	font-size: 20px;
	font-family: Poppins;
	font-weight: 300;
	text-decoration: none;
}
main .c-info .c-button img {
	margin-left: 0.5em;
	width: 30px;
	border-radius: 2em;
}
main .project {
	display: flex;
	gap: 3em;
}
main .c-preview {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 25em;
	width: 25em;
	border-radius: 2em;
	background-color: #202020;
}
main .c-preview .description {
	margin: 1em;
}
main .c-preview h2 {
	color: #fff;
	font-family: Poppins;
	font-weight: 400;
	font-size: 1.2em;
}
main .c-preview p {
	color: #2fffa4;
	font-family: Poppins;
	font-weight: 100;
	font-size: 1em;
}
main .c-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}
.connect {
	margin: 0 10%;
	background-color: #2fffa4;
	border-radius: 2.5em;
	padding: 2.8em;
	text-align: center;
}
.connect h1 {
	color: #303030;
	font-size: 25px;
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 30px;
	margin-top: -15px;
}
.connect h2 {
	color: #303030;
	font-size: 25px;
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 30px;
}
.connect mail {
	display: flex;
	align-items: center;
	justify-content: center;
}
.connect a.email {
	color: #303030;
	text-decoration: underline;
	font-size: 25px;
	font-family: Poppins;
	font-weight: 500;
	word-wrap: break-word;
}
.connect .social {
	display: flex;
	align-items: row;
	flex-wrap: wrap;
	flex-grow: 2;
}
.connect .social a {
	flex-grow: 2;
}
.connect .button {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}
.connect .button a {
	background-color: #303030;
	display: flex;
	padding: 15px 30px;
	border-radius: 50px;
	color: #2fffa4;
	font-size: 25px;
	font-family: Poppins;
	text-decoration: none;
	transition: backgroud-color 0.2s ease;
}
.connect .button a:hover {
	background-color: #202020;
}
.connect .link {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 40px;
}
.connect img {
	width: 50px;
}
.button img {
	width: 20px;
}
.link {
	margin-top: 40px;
	margin-bottom: -10px;
	display: inline-block;
	justify-content: space-around;
	flex-wrap: wrap;
}
footer .fbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 20px;
	text-decoration: none;
}
.fbar p {
	display: flex;
	justify-content: center;
	word-wrap: break-word;
	color: #fff;
	font-size: 20px;
	font-family: Poppins;
}
footer .project-link a {
	color: #fff;
	text-decoration: underline;
	font-size: 20px;
	font-family: Poppins;
}
footer .back-to-top a {
	color: #fff;
	font-size: 20px;
	font-family: Poppins;
}
footer .back-to-top img {
	width: 20px;
}