header {
	background-color: #171717;
	color: #fff;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img {
	width: 60px;
	height: 60px;
}

header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

header ul li {
	margin-right: 20px;
}

header ul li a {
	color: #fff;
	text-decoration: none;
}

header ul li a:hover {
	text-decoration: underline;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #202020;
}

.button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
	gap: 10px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 250px;
	height: 30px;
	padding: 10px 20px;
	margin-right: 20px;
	background-color: #ffffff00;
	border-radius: 5px;
	text-decoration: none;
	color: #2fffa4;
	font-size: 18px;
	transition: background-color 0.2s ease-in-out;
}

.button:hover {
	background-color: #333;
}

.button-icon {
	width: 20px;
	height: 20px;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}

.text-container h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #fff;
}

.text-container p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
	color: #2fffa4;
}

footer {
	bottom: 0;
	width: 100%;
	background-color: #171717;
	color: #ffffff;
}

.footer-column {
	margin-top: 25px;
	flex-basis: 25%;
}

.back-to-top {
	text-align: center;
}

.back-to-top a {
	color: #ffffff;
	text-decoration: none;
}

.back-to-top a:hover {
	text-decoration: underline;
}

.footer-links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-links li:hover {
	text-decoration: underline;
}

.footer-links li:last-child {
	margin-right: 0;
}

.footer-links a {
	color: #ffffff;
	text-decoration: none;
}

.bg-primary {
	background-color: #2fffa4;
	width: 100%;
	color: #171717;
	text-align: left;
}

.bg-primary_down {
	background-color: #2fffa4;
	width: 100%;
	color: #171717;
	text-align: center;
}

.column {
	display: flex;
	align-items: center;
	justify-content: space-between;
}