@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap');

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	background-color: #202020;
	max-width: 2560px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em 1.5em 0 1.5em;
	font-family: Poppins;
	font-weight: 600;
}
.logo img {
	width: 5em;
	height: 5em;
}
.menu {
	display: flex;
	align-items: center;
	gap: 10px;
}
header .button a {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2fffa4;
	color: #303030;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	font-size: 1em;
	font-family: Poppins;
	font-weight: 600;
	scroll-behavior: smooth;
	text-decoration: none;
}
header .button a:hover {
	background-color: #303030;
	color: #2fffa4;
}
header .home-button a {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2fffa4;
	color: #303030;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	font-size: 1em;
	font-family: Poppins;
	font-weight: 600;
	scroll-behavior: smooth;
	text-decoration: none;
}
header .home-button a:hover {
	background-color: #303030;
	color: #2fffa4;
}
main {
	margin: 0 10%;
}
footer .connect {
	margin: 0 10%;
	background-color: #2fffa4;
	border-radius: 2.5em;
	padding: 2.8em;
	text-align: center;
}
footer .connect h1 {
	color: #303030;
	font-size: 1.1em;
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 30px;
	margin-top: -15px;
}
footer .connect h2 {
	color: #303030;
	font-size: 1.1em;
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 30px;
}
footer .connect mail {
	display: flex;
	align-items: center;
	justify-content: center;
}
footer .connect a.email {
	color: #303030;
	text-decoration: underline;
	font-size: 1.1em;
	font-family: Poppins;
	font-weight: 500;
	word-wrap: break-word;
}
footer .connect .social {
	display: flex;
	align-items: row;
	flex-wrap: wrap;
	flex-grow: 2;
}
footer .connect .social a {
	flex-grow: 2;
}
footer .connect .social img  {
	width: 50px;
}
footer .connect .button {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}
footer .connect .button a {
	background-color: #303030;
	display: flex;
	padding: 15px 30px;
	border-radius: 50px;
	color: #2fffa4;
	font-size: 1.1em;
	font-family: Poppins;
	text-decoration: none;
	transition: backgroud-color 0.2s ease;
}
footer .connect .button a:hover {
	background-color: #202020;
}
footer .connect .link {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 40px;
}
footer .button img {
	margin-left: 1em;
	width: 20px;
}
footer .link {
	margin-top: 2em;
	display: inline-block;
	justify-content: space-around;
	flex-wrap: wrap;
}
footer .fbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1em;
	text-decoration: none;
}
footer .fbar p {
	display: flex;
	justify-content: center;
	word-wrap: break-word;
	color: #fff;
	font-size: 1em;
	font-family: Poppins;
}
footer .project-link a {
	color: #fff;
	text-decoration: underline;
	font-size: 1em;
	font-family: Poppins;
}
footer .back-to-top a {
	color: #fff;
	font-size: 1em;
	font-family: Poppins;
}
footer .back-to-top img {
	width: 1em;
}
@media screen and (max-width: 800px) {
	main {
		margin: 0 3%;
	}
	main .c-info {
		display: flex;
		justify-content: center;
	}
	main .project {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}
	footer .connect {
		margin: 0 3%;
	}
	footer .fbar p {
		text-align: center;
	}
}