.main_text {
    font-family: Poppins;
    max-width: 800px;
    margin: 0 auto;
}

.main_text h1 {
    font-size: 2em;
}
.main_text h2 {
    font-size: 2em;
}
.main_text h3 {
    font-size: 2em;
}

@media screen and (max-width: 800px) {
    footer .fbar-404 {
        flex-direction: column;
    }
    footer .fbar-404 p {
        text-align: center;
    }
}