body {
	transition: 0.5s;
	--body-color: #202020;
}
header {
	transition: 0.5s;
	--header-bg-color: #202020c0;
}
header .logo svg path {
	transition: 0.5s;
	--logo-color: #fff;
}
header .button a {
	transition: 0.2s;
	--hb-color: #2fffa4;
	--hb-text-color: #303030;
}
header .button a:hover {
	--hb-color-hov: #303030;
	--hb-text-color-hov: #2fffa4;
}
/*
header .theme-button a {
	color: #fff;
}
header .theme-button svg path {
	fill: #ffcd4e;
}
*/
main .content {
	transition: 0.2s;
    --mc-color: #fff;
}
main .c-button {
	transition: 0.2s;
	--mc-button-color: #202020;
}
main .c-button:hover {
	--mc-button-c-hov: #101010;
}
footer .connect .button a {
	transition: 0.2s;
	--fcn-color: #303030;
}
footer .connect .button a:hover {
	--fcn-color-hov: #202020;
}
footer .fbar p {
	--ffp-text-color: #fff;
}
footer .project-link a {
	--fpa-text-color: #fff;
}
footer .back-to-top a {
	--fba-text-color: #fff;
}
footer .back-to-top svg g .st0 {
	--fba-stroke-color: #fff;
}

/*Page 404*/

main .notice-404 {
	background-color: #ff972f;
}
main .notice-404 p {
	color: #fff;
}
main .notice-404 a {
	color: #fff;
}
main .notice-404 h1 {
	color: #fff;
}
footer .fbar-404 {
	--ff404-text-color: #fff;
}

/* Theme Switcher*/

.dropdown-content {
	--hm-dw-dtn: #fff;
}