body {
	transition: 0.5s;
	--body-color: var(--dg-color);
}
header {
	transition: 0.5s;
	--header-bg-color: #202020c0;
}
header .logo svg path {
	transition: 0.5s;
	--logo-color: var(--wh-color);
}
header .button a {
	transition: 0.2s;
	--hb-color: var(--accent-color);
	--hb-text-color: #303030;
}
header .button a:hover {
	--hb-color-hov: #303030;
	--hb-text-color-hov: var(--accent-color);
}
/*
header .theme-button a {
	color: #fff;
}
header .theme-button svg path {
	fill: #ffcd4e;
}
*/
.main_text {
	color: var(--wh-color);
}
.main_text a {
    color: var(--accent-color);
}

main .content {
	transition: 0.2s;
    --mc-color: var(--wh-color);
}
main .c-button {
	transition: 0.2s;
	--mc-button-color: var(--dg-color);
}
main .c-button:hover {
	--mc-button-c-hov: #101010;
}
footer .connect .button a {
	transition: 0.2s;
	--fcn-color: #303030;
}
footer .connect .button a:hover {
	--fcn-color-hov: var(--dg-color);
}
footer .fbar p {
	--ffp-text-color: var(--wh-color);
}
footer .project-link a {
	--fpa-text-color: var(--wh-color);
}
footer .back-to-top a {
	--fba-text-color: var(--wh-color);
}
footer .back-to-top svg g .st0 {
	--fba-stroke-color: var(--wh-color);
}

/*Page 404*/

main .notice-404 {
	background-color: var(--attention-color);
}
main .notice-404 p {
	color: var(--wh-color);
}
main .notice-404 a {
	color: var(--wh-color);
}
main .notice-404 h1 {
	color: var(--wh-color);
}
footer .fbar-404 {
	--ff404-text-color: var(--wh-color);
}

/* Theme Switcher*/

.dropdown-content {
	--hm-dw-dtn: var(--wh-color);
}